html, body, canvas{
  margin:  0px;
  padding: 0px;

  color: white;
  background-color: black;

  font-family: Helvetica, sans-serif;
  font-size: 12px;
}

canvas{
  position: absolute;
  left: 0px;
  top:  0px;
}

.help_window{
  z-index:  999;
  position: fixed;

  left: 50px;
  top:  50px;
}

.key{
  margin:  3px;
  padding: 3px;
  border-radius: 3px;

  font-weight: 700;
  font-size:   14px;

  background-color: white;
  color: black;
}

.game_over{
  z-index:  999;
  position: fixed;

  top:  0px;
  left: 0px;

  width: 100%;
  height: 100%;

  margin:  0px;
  padding: 0px;

  background-color: black;
  opacity:          0.0;
  transition:       opacity 1.5s ease;

  text-align: center;
}

.game_over p{
  display:    inline-block;
  margin-top: 15%;
}

.game_info{
  z-index:  999;
  position: fixed;

  bottom: 5px;
  left:   20px;
}
